<div class="container mt-5">
  <div class="d-flex flex-column flex-sm-row justify-content-between">

    <div class="country-filters">
      <!-- <div class="search-filter shadow">
      </div> -->
      <input type="text" placeholder="Search for country..." [(ngModel)]="searchFilter">
    </div>

<app-country-filter placeholder="Filter by Region" [values]="regionOptions" [(value)]="regionFilter"></app-country-filter>

  </div>
  <div class="details">
    <app-country-detail *ngFor="let country of countries" [country]="country"></app-country-detail>
  </div>
</div>


