.details{
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.country-filters{
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 876px){
    margin: 2rem 5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  app-country-filter{
    width: 60%;
    @media (min-width: 876px){
      width: 25%;
    }
  }
}
.search-filter {
  font-size: 1rem;
  padding: 0.25rem;
  @media (min-width: 876px){
    width: 33%;
  }
  span {
    padding-right: 0.5rem;
  }
  input {
    border: none;
    background-color: inherit;
  }
}
